{% extends 'layout/base.html' %}


{% block baseBody %}



<div class=" container text-center mt-5 pt-5">

  <div class="d-flex p-3 justify-content-center text-center">


    <div class="card px-5 mx-5" style="width: 40rem;">
      <div class="card-body">
        <h5 class="card-title">Oops! Looks like the page doesn't exist</h5>
        <p class="card-text"><b>To go to the Home Page</b></p>
        <a href="/" class="btn btn-primary">Goto Main Page</a>
      </div>
    </div>

  </div>

</div>





{% endblock %}