{% extends 'accounts/baseAut.html' %}

{% block title %}QA-Dash-Login{% endblock %}

{% block content_title %}Login{% endblock %}

{% block content %}

<form method="post" action="">
  {{ form.hidden_tag() }}
  <br>
  <div class="row">
    <div class="col form-label">
      {{ form.username.label }}

    </div>

    <div class="col form-input2">
      {{ form.username(class="form-control") }}

    </div>
  </div>
  <div class="row">
    <div class="col form-label">
      {{ form.password.label }}
    </div>
    <div class="col form-input2">
      {{ form.password(class="form-control") }}
    </div>
  </div>
  <br>

  <div class="row">
    <div class="colspan-2 form-button">
      {{ form.submit(class="form-control") }}
    </div>

</div>
</form>
<br>

<p class="col form-label">Don't have an account? <a href="{{ url_for('AuthenticationPage.signup') }}">Sign up</a></p>
<p class="col form-label">Need Account ?  <a href="mailto:vignesh.dhakshnamoorthy@cesltd.com"> Email Us</a></p>

{% endblock %}