{% extends 'layout/base.html' %} {% block title %}QA-Dash : Index{% endblock %}
{% block baseBody %}

<div class="grey-bg ">
  <div class="row border-bottom banner">
    <div class="col logoImag mb-2 pt-2">
      <a href="/home"
        ><img
          src="https://www.oaktreecapital.com/docs/oaktreecaplibraries/svgs/logo-white.svg"
          alt="oaktreecapital Logo"
          width="150"
          height="50"
      /></a>
    </div>

    <div class="col">
      <div class="pageHeader text-center">
        <h4 class="">WELCOME {{userName}}</h4>
      </div>
    </div>

    <div class="col">
      <div class="pageHeader mt-3">
        <h6 class=""></h6>
      </div>
    </div>
  </div>

</div>
<br />

<div class="d-flex justify-content-center text-center">
  <div class="card mx-2" style="width: 43rem">
    <div class="card-body">
      <h4 class="">
        <b>QA DASHBOARDS</b>
      </h4>
      <div class="pt-2 mx-5"></div>
      {% if current_user.user_type in ['admin', 'master'] %}
      <a
        href="/home/mdash"
        style="color: #fff; font-size: 1.2rem"
        class="buttonLink mr-2"
        data-toggle="tooltip"
        data-placement="left"
        title="Clcik to View Master Dashboard"
        >MASTER</a
      >
      {% endif %}
      <a
        href="/home/depdash"
        style="color: #fff; font-size: 1.2rem"
        class="buttonLink"
        data-toggle="tooltip"
        data-placement="left"
        title="Clcik to View Department Dashboard"
        >DEPARTMENT</a
      >
    </div>
  </div>
</div>
<h5 class="text-center pb-2"><b>PROJECT SUMMARY REPORTS</b></h5>
<div class="d-flex justify-content-center">
  <div
    class="table-height row border-bottom grey-bg container-fluid"
    style="overflow-x: auto; width: 45rem"
  >
    <table class="table table-sm caption-top table-bordered table-hover">
      <thead class="sticky-header">
        <tr>
          <th style="color: #fff;">PROJECT</th>
          <th style="color: #fff;">STATUS</th>
        </tr>
      </thead>
      <tbody>
        {% for index, row in project_table_html.iterrows() %} {% if
        row['Project'] in projects %}
        <tr>
          <td class="">
            <u style="color: blue;">
              <a
                class="sub-item"
                href="/wsr/summary/{{ row['Project']}}"
                style="color: black;"
                data-toggle="tooltip"
                data-placement="left"
                title="Clcik to View Dashboard : {{ row['Project']|replace('_', ' ') }}"
                >{{ row['Project']|replace('_', ' ') }}</a
              ></u
            >
          </td>
          <td>{{ row['Status'] }}</td>
        </tr>
        {% endif %} {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% include 'layout/copyright.html' %}


{% endblock %}
