{% extends 'layout/base.html' %} {% block title %}Master Dashboard{% endblock %}
{% block baseBody %} {% include 'layout/banner.html' %}

<div class="depDashGrid">
  <div class="depcol-1" data-bs-toggle="tooltip" data-bs-placement="right" title="Select a year">
    <div class="dropdownYear">
      <form method="POST" action="#">
        <label for="dropdown_year" style="font-size: small"><b>SELECT YEAR</b></label><span class=""> : </span>
        <select id="dropdown_year" name="selected_year">
          {% for option in dropdown_year %} {% if option == selected_year %}
          <option value="{{ option }}" selected>{{ option }}</option>
          {% else %}
          <option value="{{ option }}">{{ option }}</option>
          {% endif %} {% endfor %}
        </select>
      </form>
    </div>
  </div>
  <!-- <div class="col">
      <div class="dropdownMonth rounded-pill">
        <form method="POST" action="#">
          <label for="dropdown_month"><b>Select Month</b></label
          ><span class="mr-2 ml-2"> : </span>
          <select id="dropdown_month" name="selected_month">
            {% for option in dropdown_month %} {% if option == selected_month %}
            <option value="{{ option }}" selected>{{ option }}</option>
            {% else %}
            <option value="{{ option }}">{{ option }}</option>
            {% endif %} {% endfor %}
          </select>
        </form>
      </div>
    </div> -->
</div>
<br />

<div class="row">
  <div class="col charts2" data-toggle="tooltip" data-placement="bottom"
    title="Team allocated ~ {{dropdown_month[0]}} - {{selected_month}}">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title card-header-title"><b>QA Team Size (AVG.)</b></h5>
        <p class="card-subtitle mb-2 text-muted" style="font-size: small">
          {{dropdown_month[0]}} - {{selected_month}}
        </p>
        <h2 style="color: var(--teamsize)">{{avg_team_size}}</h2>
      </div>
    </div>
  </div>
  <div class="col charts2" data-toggle="tooltip" data-placement="bottom"
    title="Utilized team ~ {{dropdown_month[0]}} - {{selected_month}}">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title card-header-title">
          <b>UTILIZED TEAM (AVG.)</b>
        </h5>
        <p class="card-subtitle mb-2 text-muted" style="font-size: small">
          {{dropdown_month[0]}} - {{selected_month}}
        </p>
        <h2 style="color: var(--utilizedteam)">
          {{avg_team_size_util}}
          <span style="font-size: large">({{util_percent}})</span>
        </h2>
      </div>
    </div>
  </div>

  <div class="col charts2" data-toggle="tooltip" data-placement="bottom"
    title="Non utilized team ~ {{dropdown_month[0]}} - {{selected_month}}">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title card-header-title">
          <b>NON UTILIZED TEAM (AVG.)</b>
        </h5>
        <p class="card-subtitle mb-2 text-muted" style="font-size: small">
          {{dropdown_month[0]}} - {{selected_month}}
        </p>
        <h2 style="color: var(--nonutilizedteam)">
          {{avg_team_size_non_util}}
          <span style="font-size: large">({{nonutil_percent}})</span>
        </h2>
      </div>
    </div>
  </div>
  <div class="col charts2" data-toggle="tooltip" data-placement="bottom"
    title="Total effort ~ {{dropdown_month[0]}} - {{selected_month}}">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title card-header-title">
          <b>Total Effort (Hrs.)</b>
        </h5>
        <p class="card-subtitle mb-2 text-muted" style="font-size: small">
          {{dropdown_month[0]}} - {{selected_month}}
        </p>
        <h2 style="color: var(--totaleffort)">{{efforts_total}}</h2>
      </div>
    </div>
  </div>
  <div class="col charts2" data-toggle="tooltip" data-placement="bottom"
    title="Projected budget ~ {{dropdown_month[0]}} - {{selected_month}}">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title card-header-title"><b>PROJECTED BUDGET</b></h5>
        <p class="card-subtitle mb-2 text-muted" style="font-size: small">
          {{dropdown_month[0]}} - {{selected_month}}
        </p>
        <h2 style="color: var(--totalcost)">{{projected_total}}</h2>
      </div>
    </div>
  </div>

  <div class="col charts2" data-toggle="tooltip" data-placement="bottom"
    title="Annual cost ~ {{dropdown_month[0]}} - {{selected_month}}">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title card-header-title">
          <b>ACTUAL <br />
            COST</b>
        </h5>
        <p class="card-subtitle mb-2 text-muted" style="font-size: small">
          {{dropdown_month[0]}} - {{selected_month}}
        </p>
        <h2 style="color: var(--totalcost)">{{actual_total}}</h2>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col charts2" data-toggle="tooltip" data-placement="bottom"
    title="QA team allocated, utilized, non utilized by month">{{getMultiLineChart1 | safe}}</div>
</div>
<br />

<div class="row">
  <div class="col charts2" data-toggle="tooltip" data-placement="bottom"
    title="Resource summary ~ {{selected_month}}">{{getBarChart3 | safe}}</div>
  <div class="col charts2"data-toggle="tooltip" data-placement="bottom"
  title="Effort by month">{{getColumnChart1 | safe}}</div>
</div>
<br />
<div class="row">
  <div class="col charts2" data-toggle="tooltip" data-placement="bottom"
  title="QA cost projected vs actual">{{getMultiColumnChart1 | safe}}</div>
</div>
<br />

<div class="row">
  <div class="col charts2" data-toggle="tooltip" data-placement="bottom"
  title="Department wise cost summary">{{getPieChart1 | safe}}</div>
  <div class="col charts2" data-toggle="tooltip" data-placement="bottom"
  title="Cost summary for department ~ CLIENTS & MARKETING">{{getBarChart4 | safe}}</div>
</div>
<br />

<div class="row">
  <div class="col charts2" data-toggle="tooltip" data-placement="bottom"
  title="Cost summary for department ~ DATA & ARCHITECTURE">{{getBarChart5 | safe}}</div>
  <div class="col charts2" data-toggle="tooltip" data-placement="bottom"
  title="Cost summary for department ~ FINANCE">{{getBarChart6 | safe}}</div>
</div>
<br />

<div class="row">
  <div class="col charts2" data-toggle="tooltip" data-placement="bottom"
  title="Cost summary for department ~ INVESTMENT">{{getBarChart7 | safe}}</div>
  <div class="col charts2" data-toggle="tooltip" data-placement="bottom"
  title="Cost summary for department ~ IT BUSINESS OPERATIONS">{{getBarChart8 | safe}}</div>
</div>
<br />
{% include 'layout/copyright.html' %} {% endblock %}