{% extends 'layout/base.html' %} {% block title %}QA-Dash : {{pageName}}{%
endblock %} {% block baseBody %}

<div class="row border-bottom banner">
  <div class="col logoImag rounded-pill">
    <a href="/home"
      ><img
        src="https://www.oaktreecapital.com/docs/oaktreecaplibraries/svgs/logo-white.svg"
        alt="oaktreecapital Logo"
        width="150"
        height="50"
    /></a>
  </div>
  <div class="col">
    <div class="pageHeader text-center">
      <h2 class="">{{pageName|replace('_', ' ')}}</h2>
    </div>
  </div>

  <div class="col">
    <div class="dropdownWeek rounded-pill">
      <form method="POST" action="#">
        <label for="dropdown_week"></label>
        <select id="dropdown_week" name="selected_option">
          {% for option in dropdown_week %} {% if option == selected_dropdown %}
          <option value="{{ option }}" selected>{{ option }}</option>
          {% else %}
          <option value="{{ option }}">{{ option }}</option>
          {% endif %} {% endfor %}
        </select>
      </form>
      <span class="material-symbols-outlined"> </span>
    </div>
  </div>
</div>

<br />

<div class="row">
  <div class="col"></div>

  <div class="col-5">
    <div class="pageHeader text-right">
      <h3 class="">{{weekdays}}</h3>
    </div>
  </div>

  <div class="col">
    <div class="dropdownMonth rounded-pill">
      <a
        class="buttonLink"
        style="color: #fff"
        href="/wsr/summary/{{pageName}}"
        >Project Summary</a
      >
    </div>
  </div>

  <div class="col">
    <div class="dropdownMonth rounded-pill">
      <a
        class="buttonLink"
        style="color: #fff"
        href="/home/depdash/{{pageName}}"
        >Project Dashboard</a
      >
    </div>
  </div>
</div>
{% include 'tables/projectSummary.html' %} {% include
'tables/utilizationSummary.html' %}
<br />

{% include 'tables/taskSummary.html' %} {% include 'tables/defectSummary.html'%}
{% endblock %}
