{% extends 'layout/base.html' %} {% block title %}QA-Dash : {{pageName}}{%
endblock %} {% block baseBody %} {% include 'layout/header.html' %}

<br />

<div class="row">

  <div class="col"></div>

  <div class="col-5">
    <div class="pageHeader text-right">
      <h3 class="">{{weekdays}}</h3>
    </div>
  </div>

  <div class="col">
    <div
      class="dropdownMonth rounded-pill"
      hx-get="/wsr/summary/{{pageName}}"
      hx-trigger="click"
      hx-indicator="dots"
      hx-swap="outerHTML"
      hx-target="body"
    >
      <a class="btn btn-primary" style="color: #fff" href="#"
        >Project Summary</a
      >
    </div>
  </div>

  <div class="col">
    <div
      class="dropdownMonth rounded-pill"
      hx-get="/home/depdash/{{pageName}}"
      hx-trigger="click"
      hx-indicator="dots"
      hx-swap="outerHTML"
      hx-target="body"
    >
      <a class="btn btn-primary" style="color: #fff" href="#"
        >Project Dashboard</a
      >
    </div>
  </div>
</div>
{% include 'tables/projectSummary.html' %} {% include
'tables/utilizationSummary.html' %}
<br />

{% include 'tables/taskSummary.html' %} {% include 'tables/defectSummary.html'%}
{% endblock %}
