{% extends 'layout/base.html' %} {% block title %}WSR : {{pageName|replace('_',
' ')}}{% endblock %} {% block baseBody %} {% include 'layout/banner.html' %}

<div class="depDashGrid">
  <div class="depcol-1">
    <div class="dropdownYear">
      <form method="POST" action="#">
        <label style="font-size: smaller" for="dropdown_year"
          ><b>SELECT WEEK</b></label
        ><span class=""> : </span>
        <select id="dropdown_year" name="selected_option">
          {% for option in dropdown_week %} {% if option == selected_dropdown %}
          <option value="{{ option }}" selected>{{ option }}</option>
          {% else %}
          <option value="{{ option }}">{{ option }}</option>
          {% endif %} {% endfor %}
        </select>
      </form>
    </div>
  </div>

  <div class="depcol-3">
    <div class="">
      <a
        class="buttonLink"
        style="color: #fff"
        href="/home/depdash/{{selected_project}}/{{selected_year}}"
        >DASHBOARD</a
      >
    </div>
  </div>
  <div class="depcol-4">
    <div class="">
      <a
        class="buttonLink"
        style="color: #fff"
        href="/wsr/summary/{{selected_project}}/{{selected_year}}"
        >SUMMARY</a
      >
    </div>
  </div>
  <div class="depcol-5">
    <div
      class=""
      data-toggle="tooltip"
      data-placement="left"
      title="You are in Weekly Status Page"
    >
      <a
        class="buttonLink selectedtag"
        style="color: rgb(187, 175, 175)"
        href="#"
        >WEEKLY STATUS</a
      >
    </div>
  </div>
</div>

{% include 'tables/projectSummary.html' %} {% include
'tables/utilizationSummary.html' %}
<br />

{% include 'tables/taskSummary.html' %} {% include
'tables/defectSummary.html'%}{% include 'layout/copyright.html' %} {% endblock
%}
