{% extends 'layout/base.html' %} {% block title %}SUMMARY :
{{selected_project|replace('_', ' ')}}{% endblock %} {% block baseBody %} {%
include 'layout/searchBanner.html' %}

<div class="row">
  <div class="col charts2">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title"><b>Total Bugs</b></h5>
        <p class="card-subtitle mb-2 text-muted" style="font-size: small"></p>
        <h2 style="color: var(--utilizedteam)">{{total_bug}}</h2>
      </div>
    </div>
  </div>
  <div class="col charts2">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title"><b>Automation % </b></h5>
        <p class="card-subtitle mb-2 text-muted" style="font-size: small"></p>
        <h2 style="color: var(--totaleffort)">
          {{ "{:.0%}".format(automation_percentage) }}
        </h2>
      </div>
    </div>
  </div>
  <div class="col charts2">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title"><b>Tests Conducted</b></h5>
        <p class="card-subtitle mb-2 text-muted" style="font-size: small"></p>
        <h2 style="color: var(--totalcost)">{{total_execution}}</h2>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col charts2">{{getColumnChart3 | safe}}</div>
  <div class="col charts2">{{getSplineChart2 | safe}}</div>
</div>
{% if monthDatasummary %}
<br />
<div class="row">
  <div class="col">
    <h4 class="subHeader" style="color: var(--oaklogocolour)">
      PROJECT METRICS - {{selected_year|upper}} <span style="font-size: x-small;">(since inception)</span>
    </h4>
  </div>
</div>
<div class="row">
  <div class="col">{{monthDatasummary|safe}}</div>
</div>
{% endif %}
<br />
<br />
{% include 'layout/copyright.html' %} {% endblock %}