{% extends 'layout/base.html' %} {% block title %}QA-Dash :
{{selected_project}}{% endblock %} {% block baseBody %}

<div class="grey-bg container-fluid">
  <div class="row border-bottom">
    <div class="col logoImag mb-2">
      <a href="/home"
        ><img
          src="https://b2cprdassets.blob.core.windows.net/ocmb2c/Assets/Images/OClogo.svg"
          alt="oaktreecapital Logo"
          width="150"
          height="50"
      /></a>
    </div>

    <div class="col">
      <div class="pageHeader text-center">
        <h2 class="">{{selected_project|replace('_', ' ')}}</h2>
      </div>
    </div>

    <div class="col">
      <div class="pageHeader mt-3">
        <h6 class="">
          Logged In : <span style="color: maroon">{{userName}}</span>
        </h6>
      </div>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-5">
      <div class="dropdownMonth rounded-pill">
        <form method="POST" action="#">
          <label for="dropdown_year"><b>Select Year</b></label
          ><span class=""> : </span>
          <select id="dropdown_year" name="selected_year">
            {% for option in dropdown_year %} {% if option == selected_year %}
            <option value="{{ option }}" selected>{{ option }}</option>
            {% else %}
            <option value="{{ option }}">{{ option }}</option>
            {% endif %} {% endfor %}
          </select>
        </form>
      </div>
    </div>
    <div class="col"></div>
    <div class="col">
      <div class="dropdownMonth rounded-pill">
        <a class="btn btn-primary mt-2" style="color: #fff" href="/home/depdash/{{selected_project}}"
          >Project Dashboard</a
        >
      </div>
    </div>
    <div class="col">
      {% if wsr_bool%}
      <div class="dropdownMonth rounded-pill">
        <a
          class="btn btn-primary mt-2"
          style="color: #fff"
          href="/wsr/{{selected_project}}"
          >Weekly Status Report</a
        >
      </div>
      {% else %}
      <div
        class="dropdownMonth rounded-pill"
        data-toggle="tooltip"
        data-placement="left"
        title="Weekly status not available for now"
      >
        <a
          class="btn btn-primary mt-2 distag"
          style="color: grey"
          href="/wsr/{{selected_project}}"
          >Weekly Status Report</a
        >
      </div>
      {% endif %}
    </div>
  </div>
  <br />

  <div class="row">
    <div class="col charts2">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title"><b>Total Bug</b></h5>
          <p class="card-subtitle mb-2 text-muted" style="font-size: small"></p>
          <h2 style="color: var(--totaleffort)">{{total_efforts}}</h2>
        </div>
      </div>
    </div>
    <div class="col charts2">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title"><b>Average Execution</b></h5>
          <p class="card-subtitle mb-2 text-muted" style="font-size: small"></p>
          <h2 style="color: var(--teamsize)">{{avg_team}}</h2>
        </div>
      </div>
    </div>
    <div class="col charts2">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title"><b>Total Execution</b></h5>
          <p class="card-subtitle mb-2 text-muted" style="font-size: small"></p>
          <h2 style="color: var(--totalcost)">{{total_cost}}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col charts2">{{getColumnChart1 | safe}}</div>
    <div class="col charts2">{{getSplineChart1 | safe}}</div>
  </div>
  <br />
  <div class="row">
    <div class="col charts2">{{getColumnChart2 | safe}}</div>
  </div>
  <br />
  <div class="row">
    <div class="col">{{monthDatasummary|safe}}</div>
  </div>
  <br />
  <br />
</div>

{% endblock %}
