.dropdownWeek {
    text-align: right;
    margin: 4%;
    text-decoration: none;
    margin: 1rem 0rem 0rem 0rem;

}

.dropdownMonth {
    text-align: right;
    margin: 0%;
    text-decoration: none;
    margin: 1rem 0rem 0rem 0rem;

}

.dropdownMonth select{
    font-weight: bold;
    width: 19rem !important;

}

.dropdownMonth option{
    background-color: whitesmoke;
    color: black;
    font-weight: bold;

}

.dropdownWeek select{
    font-weight: bold;
    background-color: whitesmoke;

}

.dropdownWeek option{
    background-color: whitesmoke;
    color: black;
    font-weight: bold;

}

select {
    /* Reset */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    width: 15rem;
    padding: 1rem 4rem 1rem 1rem;
    background: var(--arrow-icon) no-repeat right 0.8em center/1.4em, linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

select:focus {
    outline: none;
}

select option {
    color: inherit;
    background-color: var(--option-bg);
}