.dropdownWeek {
    text-align: right;
    margin: 4%;
    text-decoration: none;
    margin: 1rem 0rem 0rem 0rem;

}

.dropdownMonth {
    text-align: left;
    margin: 0%;
    text-decoration: none;
    margin: 0rem 0rem 0rem 0rem;
    font-size: small;
}

.dropdownMonth select{
    font-weight: bold;
    width: 18rem !important;
    height: 2.3rem;


}

.dropdownMonth option{
    background-color: whitesmoke;
    color: black;
    font-weight: bold;

}

.dropdownYear {
    text-align: left;
    margin: 0%;
    text-decoration: none;
    margin: 0rem 0rem 0rem 0rem;
    font-size: small;
}

.dropdownYear select{
    font-weight: bold;
    width: 10rem !important;
    height: 2.3rem;

}

.dropdownYear option{
    background-color: whitesmoke;
    color: black;
    font-weight: bold;

}

.dropdownWeek select{
    font-weight: bold;
    width: 10rem !important;
    background-color: whitesmoke;

}

.dropdownWeek option{
    background-color: whitesmoke;
    color: black;
    font-weight: bold;

}


select::-ms-expand {
    display: none;
}

select:focus {
    outline: none;
}

select option {
    color: inherit;
    background-color: var(--option-bg);
}