* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --teamsize: #00416a;
  --utilizedteam: #e2725b;
  --nonutilizedteam: #bd1354;

  --totaleffort: #9900cc;
  --totalcost: #00994d;
  --oaklogocolour: #008265;

  --buttonSelected:#008265;
  --buttonUnSelected:#00b38c;

}

/* WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--oaklogocolour);
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--oaklogocolour);
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: var(--oaklogocolour);
}

*::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

body {
  min-height: 100dvh;
  background-size: cover;
  background-position: center;
  /* background-image: url("../img/backgrounds/background12.jpeg"); */
  background: linear-gradient(
    90deg,#fff
  );
}

.footer {
  display: block !important;
  margin-left: 50dvh;
  margin-top: 0dvh;
  padding-top: 1dvh;
  padding-left: 30dvh;
}

table,
tbody,
tr,
th,
td {
  background-color: rgba(0, 0, 0, 0) !important;
  border-color: black !important;
}

.card {
  background-color: rgba(0, 0, 0, 0) !important;
  border-color: black !important;
}

.indexList li {
  list-style: none;
}

.indexList a {
  text-decoration: none !important;
  color: black !important;
  text-align: center !important;
}

.indexList a:hover {
  text-decoration: underline !important;
  color: red !important;
}

.content_title {
  text-align: right;
}

body.light-mode .video-bg:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.72) 0%,
    rgba(255, 255, 255, 0.45) 100%
  );
  -webkit-backdrop-filter: saturate(3);
  backdrop-filter: saturate(3);
}

.video-bg {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.video-bg video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.Page {
  height: 100dvh;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  transition: 0.6s ease;
  margin-left: 0;
}

.indexPage {
  height: 100dvh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.6s ease;
  margin-left: 0;
}

.logoImag {
  padding: 1.5rem 0rem 0rem 1rem;
}

.pageHeader {
  padding: 1rem 0rem 0rem 0rem;
}

.pageHeader h1, h2 {
  text-align: center;
}

.pageHeader h6 {
  text-align: right;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.pageHeader p {
  text-align: center;
  color: whitesmoke;
  font-weight: bold;
}

.subHeader {
  text-align: center;
  text-decoration: underline;
  padding: 1%;
}

.subsubHeader {
  text-align: center;
}

.main h1 {
  font-size: 60px;
  text-align: center;
  line-height: 80px;
}

@media (max-width: 900px) {
  .main h1 {
    font-size: 40px;
    line-height: 60px;
  }
}

.nav-item .nav-link {
  color: black !important;
}

.table-height {
  overflow-y: auto !important;
  /* max-height: 400px !important; */
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--oaklogocolour) !important;

}

/* .sticky-header tr th{
  background-color: #00c9cc !important;
  color: #fff;
  font-weight: 400;
} */

/* td.linklist a:link, a:visited{
  text-decoration: none !important;
  background-color: var(--oaklogocolour);
  color: #fff;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 0.5rem;
} */

a.buttonLink:link{
  text-decoration: none !important;
  background-color: var(--buttonUnSelected);
  color: #fff;
  padding: 5px 15px 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  border-color: black;
  font-size: 1rem;
  /* transform: skew(-5deg); */

}

a.dashboardLink:link{
  text-decoration: none !important;
  background-color: var(--oaklogocolour);
  color: #fff !important;
  padding: 5px 15px 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  /* transform: skew(-5deg); */

}


.distag{
  pointer-events:none !important;
} 

.selectedtag{
  pointer-events:none !important;
  background-color: var(--buttonSelected) !important;
  color: #fff !important;
  border: black solid 1px;
} 
.containeraccount{
  padding-left: 3rem;
  padding-top: 2rem;
}

.banner{
  background-color: var(--oaklogocolour);
  color: #fff;
}

.card-header-title{
  font-size:15PX !important;
}