{% extends 'layout/base.html' %} {% block title %}QA-Dash : Index{% endblock %}
{% block baseBody %}

<div class="row border-bottom banner">
  <div class="col logoImag mb-2 pt-2">
    <a href="/home"
      ><img
        src="https://www.oaktreecapital.com/docs/oaktreecaplibraries/svgs/logo-white.svg"
        alt="oaktreecapital Logo"
        width="150"
        height="50"
    /></a>
  </div>

  <div class="col">
    <div class="pageHeader text-center">
      <h4 class="">TECHNOLOGY INFORMATION</h4>
    </div>
  </div>

  <div class="col">
    <div class="pageHeader mt-3">
      <h6 class=""></h6>
    </div>
  </div>
</div>

<br />


<div class="row" >
  <div class="col">
    <h4 class="subHeader" style="color: var(--oaklogocolour)">APPLICATION WISE AUTOMATION TOOLS</h4>
  </div>
</div>

<div class="row">
  <div class="col">{{tech1|safe}}</div>
</div>

<div class="row">
  <div class="col">
    <h4 class="subHeader" style="color: var(--oaklogocolour)">TOOLS AND PLATFORMS</h4>
  </div>
</div>

<div class="row">
  <div class="col">{{tech2|safe}}</div>
</div>

{% include 'layout/copyright.html' %} {% endblock %}
