<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  {% include 'layout/headTag.html' %}
  <title>{% block title %}QA-Dash{% endblock %}</title>
</head>

<body>
  {% include 'layout/sidebar.html' %}
  <div class="Page">
    <div class="container">{% block baseBody %} {% endblock %}</div>
  </div>
  {% include 'layout/plugin.html' %} {% include 'support/script.html' %}

  <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="logoutModalLabel">Confirm Logout</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to logout?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cancel
          </button>
          <a href="/logout" class="btn btn-danger">Logout</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>