{% include 'layout/banner.html' %} {% if '/depdash' in request.path %}
<div class="depDashGrid">
  <div class="depcol-1" data-bs-toggle="tooltip" data-bs-placement="right" title="Select a year">
    <div class="dropdownYear">
      <form method="POST" action="#">
        <label style="font-size: smaller" for="dropdown_year"><b>SELECT YEAR</b></label><span class=""> : </span>
        <select id="dropdown_year" name="selected_year">
          {% for option in dropdown_year %} {% if option == selected_year %}
          <option value="{{ option }}" selected>{{ option }}</option>
          {% else %}
          <option value="{{ option }}">{{ option }}</option>
          {% endif %} {% endfor %}
        </select>
      </form>
    </div>
  </div>
  <div class="depcol-2" data-bs-toggle="tooltip" data-bs-placement="right" title="Choose Project">
    <div class="dropdownMonth">
      <form method="POST" action="#">
        <label style="font-size: smaller" for="dropdown_project"><b>SELECT PROJECT</b></label><span class=""> : </span>
        <select id="dropdown_project" name="selected_project">
          {% for option in dropdown_project %} {% if option == selected_project
          %}
          <option value="{{ option }}" selected>
            {{ option|replace('_', ' ')|upper }}
          </option>
          {% else %}
          <option value="{{ option }}">
            {{ option|replace('_', ' ')|upper }}
          </option>
          {% endif %} {% endfor %}
        </select>
      </form>
    </div>
  </div>
  <div class="depcol-3">
    <div class="" data-bs-toggle="tooltip" data-bs-placement="bottom" title="You are in Project Dashboard Page">
      <a class="buttonLink selectedtag" style="color: rgb(187, 175, 175)" href="#">DASHBOARD</a>
    </div>
  </div>
  <div class="depcol-4">
    {% if not selected_project == "ALL" %}
    <div class="" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Click to view Summary Page">
      <a class="buttonLink" style="color: #fff" href="/wsr/summary/{{selected_project}}/{{selected_year}}">SUMMARY</a>
    </div>
    {% else %}
    <div class="" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Choose project to see the summary">
      <a class="buttonLink distag" style="
          color: rgb(187, 175, 175);
          text-decoration: line-through !important;
        " href="#">SUMMARY</a>
    </div>
    {% endif %}
  </div>
  <div class="depcol-5">
    {% if wsr_bool %}
    <div class="" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Click to view Weekly Status">
      <a class="buttonLink" style="color: #fff" href="/wsr/{{selected_project}}/{{selected_year}}">WEEKLY STATUS</a>
    </div>
    {% else %}
    <div class="" data-bs-toggle="tooltip" data-bs-placement="bottom"
      title="Weekly Status Not Available for this project">
      <a class="buttonLink distag" style="
          color: rgb(187, 175, 175);
          text-decoration: line-through !important;
        " href="#">WEEKLY STATUS</a>
    </div>
    {% endif %}
  </div>
</div>
{% else %} {% if '/summary' in request.path %}

<div class="depDashGrid">
  <div class="depcol-1" data-bs-toggle="tooltip" data-bs-placement="right" title="Select a year">
    <div class="dropdownYear">
      <form method="POST" action="#">
        <label style="font-size: smaller" for="dropdown_year"><b>SELECT YEAR</b></label><span class=""> : </span>
        <select id="dropdown_year" name="selected_year">
          {% for option in dropdown_year %} {% if option == selected_year %}
          <option value="{{ option }}" selected>{{ option }}</option>
          {% else %}
          <option value="{{ option }}">{{ option }}</option>
          {% endif %} {% endfor %}
        </select>
      </form>
    </div>
  </div>

  <div class="depcol-3">
    <div class="" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Click to view Dashboard Page">
      <a class="buttonLink" style="color: #fff"
        href="/home/depdash/{{selected_project}}/{{selected_year}}">DASHBOARD</a>
    </div>
  </div>
  <div class="depcol-4">
    <div class="" data-bs-toggle="tooltip" data-bs-placement="bottom" title="You are in Project Summary Page">
      <a class="buttonLink selectedtag" style="color: rgb(187, 175, 175)" href="#">SUMMARY</a>
    </div>
  </div>
  <div class="depcol-5">
    {% if wsr_bool %}
    <div class="" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Click to view Weekly Status">
      <a class="buttonLink" style="color: #fff" href="/wsr/{{selected_project}}/{{selected_year}}">WEEKLY STATUS</a>
    </div>
    {% else %}
    <div class="" data-bs-toggle="tooltip" data-bs-placement="bottom"
      title="Weekly Status Not Available for this project">
      <a class="buttonLink distag" style="
          color: rgb(187, 175, 175);
          text-decoration: line-through !important;
        " href="#">WEEKLY STATUS</a>
    </div>
    {% endif %}
  </div>
</div>

{% else %} {% if '/depmaster' in request.path %}

<div class="depDashGrid">
  <div class="depcol-1" data-bs-toggle="tooltip" data-bs-placement="right" title="Select a year">
    <div class="dropdownYear">
      <form method="POST" action="#">
        <label style="font-size: small" for="dropdown_year"><b>SELECT YEAR</b></label><span class=""> : </span>
        <select id="dropdown_year" name="selected_year">
          {% for option in dropdown_year %} {% if option == selected_year %}
          <option value="{{ option }}" selected>{{ option }}</option>
          {% else %}
          <option value="{{ option }}">{{ option }}</option>
          {% endif %} {% endfor %}
        </select>
      </form>
    </div>
  </div>
  <div class="depcol-2" data-bs-toggle="tooltip" data-bs-placement="right" title="Choose Project">
    <div class="dropdownMonth">
      <form method="POST" action="#">
        <label style="font-size: small" for="dropdown_project"><b>SELECT PROJECT</b></label><span class=""> : </span>
        <select id="dropdown_project" name="selected_project">
          {% for option in dropdown_project %} {% if option == selected_project
          %}
          <option value="{{ option }}" selected>
            {{ option|replace('_', ' ')|upper }}
          </option>
          {% else %}
          <option value="{{ option }}">
            {{ option|replace('_', ' ')|upper }}
          </option>
          {% endif %} {% endfor %}
        </select>
      </form>
    </div>
  </div>
  <div class="depcol-5">
    {% if wsr_bool %}
    <div class="" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Click to view Weekly Status">
      <a class="buttonLink" style="color: #fff" href="/wsr/{{selected_project}}/{{selected_year}}">WEEKLY STATUS</a>
    </div>
    {% endif %}
  </div>
  <!-- <div class="depcol-3">
    <a style="text-decoration: none; color:var(--oaklogocolour)" href="/home">HOME <i
      class="fas fa-home"
    ></i></a>
  </div> -->
</div>


{% else %}

<div class="depDashGrid">
  <div class="depcol-1" data-bs-toggle="tooltip" data-bs-placement="right" title="Select a week to see the status">
    <div class="dropdownYear">
      <form method="POST" action="#">
        <label style="font-size: smaller" for="dropdown_year"><b>SELECT WEEK</b></label><span class=""> : </span>
        <select id="dropdown_year" name="selected_option">
          {% for option in dropdown_week %} {% if option == selected_dropdown %}
          <option value="{{ option }}" selected>{{ option }}</option>
          {% else %}
          <option value="{{ option }}">{{ option }}</option>
          {% endif %} {% endfor %}
        </select>
      </form>
    </div>
  </div>

  <div class="depcol-5">
    <div class="" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Click to view Dashboard Page">
      <a class="buttonLink" style="color: #fff"
        href="/home/depmaster/{{selected_project}}/{{selected_year}}">DASHBOARD</a>
    </div>
  </div>
</div>


{% endif %} {% endif %}{% endif %}
<br />