<div class="menu-btn">
  <i class="fas fa-bars"></i>
</div>
<div class="side-bar border">
  <div class="close-btn">
    <i class="fas fa-times"></i>
  </div>

  <div class="menu">
    <a href="/home"><img src="https://www.oaktreecapital.com/docs/oaktreecaplibraries/svgs/logo-white.svg"
        alt="oaktreecapital Logo" width="150" height="45"></a>

    <div class="item">
      <a class="sub-btn"><i class="fas fa-desktop"></i>Dashboard<i class="fas fa-angle-right dropdown"></i></a>
      <div class="sub-menu">
        <a href="/home/mdash" class="sub-item">Master Dashboard</a>
        <a href="/home/depdash" class="sub-item">Department Dashboard</a>
        <a href="/home/dashboard" class="sub-item">Project Dashboard</a>
      </div>
    </div>
    <div class="item">
      <a class="sub-btn"><i class="fas fa-gifts"></i>Marketing<i class="fas fa-angle-right dropdown"></i></a>
      <div class="sub-menu">
        <div class="item">
          <a class="sub-btn"><i class="fas fa-people-arrows"></i>Active<i class="fas fa-angle-right dropdown"></i></a>
          <div class="sub-menu sub2">
            <a href="/wsr/OCP_TECH" class="sub-item">OCP Tech</a>
            <a href="/wsr/ONETRACKER" class="sub-item">Onetracker</a>
            <a href="/wsr/SICAV" class="sub-item">SICAV</a>
            <a href="/wsr/TREENA" class="sub-item">Treena</a>
          </div>
        </div>

        <div class="item">
          <a class="sub-btn"><i class="far fa-times-circle"></i></i>Close<i class="fas fa-angle-right dropdown"></i></a>
          <div class="sub-menu sub2">
            <a href="/wsr/FORM_PF" class="sub-item">Form PF</a>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <a class="sub-btn "><i class="fas fa-money-check-alt"></i>Finance<i class="fas fa-angle-right dropdown"></i></a>
      <div class="sub-menu">
        <div class="item">
          <a class="sub-btn"><i class="fas fa-people-arrows"></i>Active<i class="fas fa-angle-right dropdown"></i></a>
          <div class="sub-menu sub2">
            <a href="/wsr/BEEQOM" class="sub-item">Beeqom</a>
            <a href="/wsr/HRIS" class="sub-item">HRIS</a>
            <a href="/wsr/ICS" class="sub-item">ICS</a>
            <a href="/wsr/VEMS" class="sub-item">vEMS</a>
            <a href="/wsr/WORKDAY" class="sub-item">Workday</a>
          </div>
        </div>

        <div class="item">
          <a class="sub-btn"><i class="far fa-times-circle"></i></i>Close<i class="fas fa-angle-right dropdown"></i></a>
          <div class="sub-menu sub2">
            <a href="/wsr/CORPORATE_ACTIONS" class="sub-item">Corporate Actions</a>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <a class="sub-btn link-success"><i class="fas fa-university"></i>Investment<i
          class="fas fa-angle-right dropdown"></i></a>
      <div class="sub-menu">
        <div class="item">
          <a class="sub-btn"><i class="fas fa-people-arrows"></i>Active<i class="fas fa-angle-right dropdown"></i></a>
          <div class="sub-menu sub2">
            <a href="/wsr/FX_CENTRAL" class="sub-item">FX Central</a>
          </div>
          <div class="item">
            <a class="sub-btn"><i class="far fa-times-circle"></i></i>Close<i
                class="fas fa-angle-right dropdown"></i></a>
            <div class="sub-menu sub2">
              <a href="/wsr/MERCATUS" class="sub-item">Mercatus</a>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="item">
      <a class="sub-btn link-success"><i class="fas fa-users-cog"></i>Business Operation<i
          class="fas fa-angle-right dropdown"></i></a>
      <div class="sub-menu">
        <div class="item">
          <a class="sub-btn"><i class="fas fa-people-arrows"></i>Active<i class="fas fa-angle-right dropdown"></i></a>
          <div class="sub-menu sub2">
            <a href="/wsr/QA_SMOKE_TEST" class="sub-item">QA Smoke Test</a>
          </div>
          <div class="item">
            <a class="sub-btn"><i class="far fa-times-circle"></i></i>Close<i
                class="fas fa-angle-right dropdown"></i></a>
            <div class="sub-menu sub2">
            </div>
          </div>
        </div>


      </div>


    </div><br>
    <div class="d-flex sm-1">
      <div class="item"><a href="mailto:vignesh.dhakshnamoorthy@cesltd.com"><i class="fas fa-at"></i><small>Contact
            Us</small></a></div>
      <div class="item"><a href="#" data-bs-toggle="modal" data-bs-target="#logoutModal"><i
            class="fas fa-sign-out-alt"></i><small>Logout</small></a></div>

    </div>

    <br>



  </div>

  <footer class=" text-white text-center d-flex ">
    <p class="pl-3">Powered By CES &copy; 2023</p>
    <a href="https://cesltd.com/"><img class="ml-1"
        src="https://cesltd.com/wp-content/uploads/2022/11/ces-logo-white.png" alt="oaktreecapital Logo" width="40"
        height="25"></a>
  </footer>


</div>




<!-- https://fontawesome.com/v5/search -->